@using PMShop.Models
@model IEnumerable<Order>
@{
    ViewBag.Title = "Заказы";
    Layout = "_AdminLayout";
}
@if (Model.Count() > 0)
{
    <table class="table table-bordered table-striped">
        <tr><th>Имя покупателя</th><th>Почтовый индекс</th><th colspan="2">Детали заказа</th><th></th></tr>
        @foreach (Order o in Model)
        {
            <tr>
                <td>@o.Name</td>
                <td>@o.Zip</td>
                <th>Товар</th>
                <th>Колличество</th>
                <td>
                    <form asp-action="MarkShipped" method="post">
                        <input type="hidden" name="orderId" value="@o.OrderID" />
                        <button type="submit" class="btn btn-sm btn-danger">
                            Уже доставлено
                        </button>
                    </form>
                </td>
            </tr>
            @foreach (CartLine line in o.Lines)
            {
                <tr>
                    <td colspan="2"></td>
                    <td>@line.Product.Name</td>
                    <td>@line.Quantity</td>
                    <td></td>
                </tr>
            }
        }
    </table>
}
else
{
    <div class="text-center">Новых заказов нет((</div>
    <div class="image-wrap">
        <img src="https://www.inter-nauka.com/resizer/w640-h360/uploads/public/14928682187288.jpg" class="image-center">
    </div>
}
<h2></h2>
<div class="text-center">
    <a class="btn btn-primary" asp-action="Index" asp-controller="Admin">
        Панель админа
    </a>
    <a class="btn btn-primary" asp-action="List" asp-controller="Product">
        Магазинчик
    </a>
</div>